:root {
  --contrast: #3f8de6;/*3C6FAA*/
  --contrast-A: #3c6faa83;
  --darker-contrast: #305886;
  --bg: #1F2229;
  --shadow:rgb(20, 20, 20);

  --heat-yellow: rgb(253, 211, 21);
  --heat-red: rgb(238, 62, 50);
  --heat-orange: rgb(246, 136, 56);
  --heat-blue:  var(--contrast);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navBar p{
    font-size: 10px;
    width: 100px;
  }
  .navbar-welcome{
    visibility: hidden;
  }
  .flexify-logo{
    visibility: hidden;
  }

  .timePeriod{
    width: 70% !important;
    margin-left: 'auto' !important;
  }
  .timePeriod p{
    font-size: 10px !important;
    width: fit-content !important;
    margin: -2px !important;
    margin-left: 20px !important;
  }
  .container{
    position: absolute;
    top: 0px;
    overflow-y:visible;
    overflow-x: hidden;
    width: 100% !important;
    height: 100% !important;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
  .home-chart{
    margin-top: 0 !important;
    position: relative;
    left: auto !important;
    margin-right: 22vw;
    top: 650px !important;
    transform: scale(0.7);
  }
  .muscle-container-home{
    position: relative;
    top: -700px !important;
    right: 270px !important;
    transform: scale(0.8);
  }
  .home-calendar{
    position: relative;
    width: 80%;
    top: 100px !important;
    left: 30px !important;
    transform: scale(0.8);
  }
  .calendar-detail{
    width: inherit !important;
    margin: -20px !important;
  }
  .sidebar{
    height: 80% !important;
  }
  .create-templates{
    height: fit-content !important;
    padding: 10px;
    position: relative;
    top: -100px !important;
    left: 40px !important;
  }
  .create-muscles{
    position: relative;
    transform: scale(0.8);
    left: -260px;
    top: 50px !important;
  }
  .create-drop{
    position: relative !important;
    top: -100px !important;
    left: -125px !important;
    transform: scale(0.5);
  }
  .create-container{
    position: absolute;
    top: -100px !important;
    overflow-y:visible;
    overflow-x: hidden;
    width: 100% !important;
    height: 120% !important;
  }
  .create-container::-webkit-scrollbar {
    display: none;
  }
  .sidebar-sign-out{
    margin-top: 18vh !important;
  }
  .account-details{
    position: relative;
    left: 20px !important;
    top: 150px !important;
    transform: scale(0.8);
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 300px); /* Set each column to 200px width */
    gap: 20px; /* Adjust the gap between cards to 20px */
    padding-left: 10px;
  }
  .browse-muscle{
    transform: scale(0.8);
    transition: 0.5
  }
  .workouts{
    position: relative !important;
    left: 30px !important;
    top: -250px !important;
  }
  .browse-container{
    position: absolute;
    top: -80px !important;
    overflow-y:visible;
    overflow-x: hidden;
    left: 10px !important ;
    width: 100% !important;
    height: 110% !important;
  }

  .dietpage-chart{
    transform: scale(0.6);
    position: relative;
    left: -170px !important;
    top: -200px !important;
  }
  .dietpage-chart text{
    font-size: 5px !important;
  }
  .dietpage-chart ul{
    position: relative;
    top: 200px !important;
    left: -250px;
  }
  .plan-calendar{
    position: relative !important;
    top: 100px !important;
    left:-140px !important;
    transform: scale(0.8);
  }
  .plan-chart{
    position: relative !important;
    top: -150px !important;
    left:-160px !important;
    transform: scale(0.8);
  }
  .sidebar:hover{
    position: fixed;
    right: -200px;
  }
  .saved-workouts{
    left: 7% !important;
    height: 100%;
  }
  .saved-workouts > div {
    flex: 0 0 auto;
    margin-left: 25% !important;
    scroll-snap-align: start;
  }
  .saved-workouts .workout-card{
    width: 80% !important;
    height: 50% !important;
    top: 30% !important;
  }
  .saved-workouts .selected-card{
    transform: translateY(0) !important;
  }
  .title{
      display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
  .home-calendar{
    transform: scale(0.8) !important;
    position: relative;
    left: -100px !important;
    top: -770px !important;
  }
  .muscle-container-home{
    transform: scale(0.8) !important;
    position: relative;
    top: -600px !important;
    right: 40px !important;
  }
  .home-chart{
    transform: scale(0.8) !important;
    position: relative;
    top: 450px !important;
    left: 150px !important;
  }
  .navbar-welcome{
      position: relative;
      transform: scale(0.8) !important;
      left: 30px !important;
  }
  .navbar-welcome-container svg{
    visibility: hidden;
  }
  .navbar-streak{
    position: relative !important;
    left: 100px !important;
  }
  .flexify-logo{
    visibility: hidden;
  }
  .plan-calendar{
    position: relative;
    left: 0px !important;
  }
  .plan-chart{
    position: relative;
    left: -160px !important;
    top: 400px !important;
  }
  .create-templates{
    position: relative !important;
    left: 50px !important;
  }
  .create-drop{
    position: relative;
    top: -450px !important;
    left: -70px !important;
  }
  .create-container{
    position: absolute;
    top: -200px !important;
    overflow-y: visible;
    overflow-x: hidden;
    width: 100% !important;
    height: 120% !important;
  }
  .create-container::-webkit-scrollbar {
    display: none;
  }
  .browse-cards{
    position: relative;
    left: 700px !important;
    display: flex !important;
    height: 600px !important;
    flex-wrap: wrap;
    width: 800px !important;
  }
  .dietpage-chart{
    position: relative;
    left: -150px !important;
  }
  .add-calorie{
    transform: scale(0.8);
    position: relative;
    top: 0px !important;
    left: -220px !important;
    top: 480px !important;
  }
  .add-food{
    transform: scale(0.8);
    position: relative;
    top: 0px !important;
    left: -220px !important;
    top: 480px !important;
    margin-left: 300px !important;
  }
  .sign-in-controls{
    left: 15% !important;
  }
  .saved-workouts{
    flex-wrap: wrap;
  }
  .saved-workouts .workout-card{
    width: 80% !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
.highlight{
  box-shadow: 0px 0px 20px #ffffff !important;
}
.load-anim{
  animation: page-transition .6s;
  transition: .5s ease;
}
body{
  background-color: var(--bg) !important;
  overflow: hidden;
  transition: .5s ease;
  user-select: none;
}
.anim{
  transition: .5s ease;
}
.sidebar{
  height: 700px;
  width: 245px;
  background-color: var(--contrast);
  position: fixed;
  right: -200px;
  top: 12vh;
  border-radius: 10px 0px 0px 10px;
  transition: .5s ease;
  box-shadow: -5px 5px 5px var(--shadow);
  z-index: 10;
}
.card{
  border: none;
  background-color: transparent;
}
.card-body{
  background-color: var(--contrast);
  border-radius: 10px;
  color: white !important;
  transition: .5s ease;
}
.sidebar:hover{
  position: fixed;
  right: -50px;
}
.userbar{
  height: 50px;
  width: 245px;
  background-color: var(--contrast);
  position: fixed;
  right: -200px;
  top: 0;
  border-radius: 0px 0px 0px 10px;
  transition: .5s ease;
}
.userbar:hover{
  position: fixed;
  right: -50px;
}
.interactable{
  cursor: pointer;
}
.interactable:hover{
  transform: scale(1.025);
  text-shadow: 0 0 5px #fff;
}
.muscles{
  margin: auto;
  width: 1028px;
  height: 1024px;
  filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
}
.muscle{
  z-index: 0 !important;
}
.muscles path:not(.rotate){
  cursor: pointer;
  fill: var(--heat-blue);
  transition: .5s ease;
}
.timePeriod{
  width: 500px;
  height: 30px;
  background-color: var(--contrast);
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 150px;
  box-shadow: 0px 5px 5px var(--shadow);
  transition: .5s ease;
  z-index: 900;
}
.timePeriod p{
  text-align: center;
  display: inline-block;
  color: white;
  width: 100px !important;
  margin-top: 2.5px;
  height: 20px;
}
.navBar{
  position: fixed;
  left: 10%;
  top: 0;
  width: 80%;
  height: 50px;
  background-color: var(--contrast);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 5px 5px var(--shadow);
  transition: .5s ease;
} 
.react-calendar{
  border-radius: 10px;
  background: var(--contrast) !important;
  color: white;
  border: none !important;
  box-shadow: 5px 5px 5px var(--shadow);
  transition: .5s ease;
}
.react-calendar__month-view__days__day--weekend {
  color: #2158be !important;
}
.react-calendar__tile--now {
  background: #178daa !important;
}
.react-calendar button{
  color: white;
}
.highlight-date{
  background: var(--heat-orange) !important;
  border-style: solid !important;
  border-width: 1px !important;
  border: 1 !important;
}
.highlight-date-diet{
  border-style: solid !important;
  border-width: 1px !important;
  border: 1 !important;
  color: rgb(17, 226, 17) !important;
  border-color: white !important;
}
.calendar-detail{
  color: white;
  padding: 5px;
  animation: grow 0.2s ease-in;
  overflow: auto;
}
.calendar-detail-close{
  color: white;
  padding: 5px;
  animation: shrink 0.2s ease-in;
}
input{
  width: 300px;
  background: white;
  border: none;
  border-radius: 5px;
  color: black;
}
.sign-in-panel{
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  transition: .5s ease;
}
.chart text{
  font-size: 10px;
  fill: white;  
}
.chart path{
  cursor: pointer;
}
.add-calorie{
  position: absolute; 
  top:-50px; 
  left: -500px;
  width:300px; 
  height: 300px;
  background-color: var(--contrast); 
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
.add-food{
  position: absolute; 
  top:-50px; 
  left: -500px;
  width:300px; 
  height: 300px;
  background-color: var(--contrast); 
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
.add-food input{
  border: none;
  border-radius: 5px;
}
.add-calorie input{
  border: none;
  border-radius: 5px;
}
.create-workout input{
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border: white;
  border-style: solid;
  border-width: 1px;
  color: white;
}
.create-workout li{
  animation: grow 0.1s ease;
}
.create-workout input::placeholder {
  color: white;
  opacity: 0.5;
}
.create-workout select{
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  width: 75px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 300px); /* Set each column to 200px width */
  gap: 10px; /* Adjust the gap between cards to 20px */
  padding-left: 10px;
  padding-bottom: 40px;
}
.create-workout-card {
  margin-bottom: 10px; /* Adjust the margin-bottom value to control spacing between rows */
  box-sizing: border-box;
  animation: grow 0.2s ease-in;
  margin-left: 2.5%;
}
.create-workout-card.card .card-body{
  height: 55px !important;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--contrast);
  border-radius: 10px;
  margin-bottom: -10px;
  -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}
.create-workout-card.card .card-body:hover{
  background-color: var(--contrast);
  height: 350px !important;
}
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #f0f0f0;
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background-color: var(--contrast); /* Set the color of the scrollbar track (the non-draggable part) */
  border-radius: 10px; 

}
.create-workout{
  border: 1px solid var(--contrast);
  border-radius: 10px;
  width: 650px;
  position: relative;
  left: 100px !important;
  overflow: auto;
  max-height: 625px;
  box-shadow: 5px 5px 5px var(--shadow);
}
.create-workout-indicate{
  background-color: var(--contrast);
  border-radius: 10px;
  width: 650px;
  position: relative;
  left: 100px !important;
  overflow: auto;
  max-height: 625px;
  box-shadow: 0px 0px 20px #ffffff;
}
.workouts .animated-card {
  animation: grow 0.2s ease-in;
}
.anim-heartbeat{
  animation: beat 1s ease infinite;
}
.home-chart text{
  display: none;
}
.fade-in{
  animation: opacity-fade-in 200ms linear;
}
.fade-out{
  animation: opacity-fade-out 200ms linear;
}
.page {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;

  animation: opacity-fade-in 1s ease;
}
.exercise-card{
  width: 80%;
  height: 70px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
}
.exercise-card .bottom{
  background-color: var(--contrast);
  border-radius: 0px;
  height: 80px;
  transition: 0.6s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: exercise-card-load 0.5s ease-out;
  justify-content: center;
}
.exercise-card h2{
  font-size: 20px;
}
.exercise-card:active{
  cursor: grabbing;
}
.exercise-card:hover .bottom{
  border-radius: 0px;
  border: 1px solid var(--contrast);
  height: 80px;
}
iframe
{
    display: none;/*Fix for react error popup*/
}
.exercise-gif{
  position: relative;
  display: inline-block;
  right: 50%;
  top: -300px;
  mix-blend-mode:multiply;
  background-color: var(--contrast);
  width: 500px;
  filter: saturate(5);
}
.home-tip{
  filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
  margin-top: 50px;
  width: 400px;
  color: white;
  position: relative;
}
.home-tip .tip-icon{
  font-size: 50px;
  margin-bottom: 20%;
  margin-right: 10px;
  animation: beat 1s ease-in-out infinite;
}
.home-tip img{
  filter: invert(86%) sepia(25%) saturate(6802%) hue-rotate(343deg) brightness(106%) contrast(97%) drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4)) !important;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--contrast);
  color: white;
  padding-top: 10px;
}
.plate-container{
  width: 100%;
  height: 80%;
  margin-top: 15%;
  margin-left: -5%;
}
.diet-plate h1{
  color: white;
  padding: 50px;
  padding-left: 0px;
  margin-top: -90px;
  width: 100%;
  text-align: center;
}
.diet-plate{
  display: inline-block;
  margin-left: 9%;
  margin-top: 50px;
}
.diet-plate .food-particles{
  position: relative;
  top: -240px;
  width: 200px;
  height: 200px;
  left: -15px;
}
.diet-plate .food-particles img{
  width: 50px;
  margin: -25px;
  filter: invert(1);
}
.diet-plate img{
  width: 250px;
  filter: brightness(0) saturate(100%) invert(42%) sepia(29%) saturate(1034%) hue-rotate(172deg) brightness(89%) contrast(89%) drop-shadow(5px 5px 10px rgb(0 0 0 / 0.8));
}
.food-particle{
  filter: invert(1) drop-shadow(0px 0px 10px rgb(0 0 0)) !important;
  z-index: -1;
}
.diet-plate .hide{
  background-color: var(--bg);
  width: 300px;
  height: 200px;
  margin-top: -420px;
}
.plate-selected{
  width: 100%;
}
.diet-add-popup{
  position:absolute;
  height: fit-content;
  width: 30%;
  top: 25%;
  left: 35%;
  background-color: var(--bg);
  border-radius: 10px;
  text-align: center;
}
.diet-add-popup img{
  filter: invert(1) drop-shadow(5px 5px 1px rgb(0 0 0 / 0.8)) !important;
}
.diet-add-popup img::before{
  opacity: 0;
}
.diet-add-popup h1{
  color: white;
  text-shadow: 3px 5px rgb(0 0 0 / 0.4);
}
.diet-add-popup input{
  width: 300px;
  background: var(--shadow);
  border: none;
  box-shadow: 0px 5px 5px var(--shadow);
  border-radius: 5px;
  color: white;
}
.diet-add-popup input::placeholder{
  text-align: center;
}
.diet-add-popup button{
  border: none;
  background-color: var(--contrast);
  border-radius: 10px;
  box-shadow: 0px 5px 5px var(--shadow);
  color: white;
  margin-bottom: 10px;
}
.diet-add-popup .foods-added-container{
  list-style: none !important;
  margin-top: 30px;
  height: 100px;
  overflow-y: auto;
  width: 100%;
}
.diet-add-popup .foods-added{
  color: white;
  background-color: var(--shadow);
  padding: 5px 5px 5px 5px;
  margin: 5px;
  width: fit-content;
  border-radius: 10px;
  display: inline-block;
}
.diet-add-popup .foods-added svg{
  margin-left: 10px;
}
.diet-add-popup h2{
  color: white;
  position: relative;
  left: 45%;
}
.interactable.remove:hover circle{
  stroke: red !important;
}
.workout-card .start-workout{
  border: none;
  background-color: var(--contrast);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fff;
  color: white;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}
.workout-container{
  height: 40%;
  width: 40%;
  margin-top: 10%;
  margin-left: 30%;
  text-align: center;
  color: white;
}
.workout-container h1{
  font-size: 72px;
}
.workout-container .workout-gif{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.workout-container .workout-gif img{
  mix-blend-mode: multiply;
  width: inherit;
  height: inherit;
}
.workout-container .workout-settings{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.workout-container .current-set{
  margin-top: 5%;
  margin-bottom: 5%;
}
.workout-container .workout-settings p{
  padding-left: 20px;
  padding-right: 20px;
}
.workout-container .workout-settings span{
  display: flex;
}
.workout-container .workout-settings b{
  font-size: 20px;
}
.workout-container .timers{
  display: flex;
  justify-content: center;
}
.workout-container .timers .workout-timer{
  height: 100px;
  width: fit-content;
}
.workout-container .timers .duration-timer{
  margin-top: 30px;
  margin-left: 50px;
}
.workout-container .workout-control-btn{
  border: none;
  background-color: var(--contrast);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fff;
  color: white;
  padding: 5px 20px 5px 20px;
  margin: 20px;
}
.workout-container .workout-next-btn{
  filter: invert(1);
}
.workout-container .workout-right-panel{
  position: absolute;
  top: 40%;
  right: 10%;
  z-index: 10;
}
.workout-container .workout-paused{
  opacity: 0.5;
}
.workout-container .workout-left-panel{
  position: absolute;
  top: 40%;
  left: 10%;
}
.workout-container .workout-middle-panel{
  position: absolute;
  width: 60%;
  top: 5%;
  left: 20%;
  right: 20%;
}
.calendar{
  position: absolute;
  top: 15%;
  left: 20%;
  height: 70% !important;
  width: 60%;
  color: white !important;
}
.calendar-add-popup{
  width: 40%;
  height: 50%;
  position: absolute;
  left: 30%;
  top: 25%;
  border: 1px solid var(--contrast);
  background-color: var(--bg);
  overflow-y: hidden;
}
.calendar-add-popup .header{
  width: 100%;
  color: white;
  background-color: var(--contrast);
  display: flex;
  align-items: center;
}
.calendar-add-popup .header h2{
  width: 95%;
  font-size: 20px;
}
.calendar-add-popup .header .control-btn{
  font-size: 2em;
  margin-left: 5%;
  cursor: pointer;
}
.calendar-add-popup .workouts{
  overflow-y: auto;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-snap-type: y mandatory;
  margin-top: 1%;
}
.calendar-add-popup .workouts .card{
  flex: 0 0 240px;
  width: 240px;
  height: 50px;
  margin-bottom: 2.2%;
  margin-left: 5px;
  border: none;
}
.calendar-add-popup .workouts .card:hover .card-body{
  background-color: var(--contrast);
}
.calendar-add-popup .workouts .card-body{
  background-color: transparent;
  border: 1px solid var(--contrast);
}
.calendar .rbc-selected-cell{
  background-color: var(--contrast) !important;
}
.calendar .rbc-slot-selection{
  background-color: var(--contrast) !important;
}
.calendar .rbc-today{
  background-color: var(--darker-contrast) !important;
}
.calendar .rbc-month-view{
  box-shadow: 5px 5px 10px var(--shadow);
}
.calendar .rbc-header.rbc-today{
  z-index: 1;
  background-color: var(--darker-contrast) !important;
}
.calendar .rbc-active{
  z-index: 1;
  text-shadow: 0 0 5px #fff;
  background-color: var(--contrast) !important;
}
.calendar .rbc-button-link:hover{
  text-shadow: 0 0 5px #fff;
}
.calendar .rbc-btn-group button:hover{
  z-index: 1;
  text-shadow: 0 0 5px #fff;
  background-color: var(--contrast) !important;
} 
.calendar button{
  color: white !important;
}
.calendar .rbc-day-bg.rbc-today{
  z-index: 1;
}

.calendar .rbc-day-bg{
  background-color: #2d3549;
  transition: 0.5s;
}
.calendar .rbc-time-view .rbc-event{
  margin-left: 5px;
}
.calendar .rbc-event{
  animation: grow 0.5s ease;
}
.calendar .rbc-event:hover{
  text-shadow: 0 0 5px #fff;
}
.calendar .rbc-event-content{
  text-align: center;
  border-radius: 5px;
  font-size: 80%;
}
.calendar .rbc-timeslot-group{
  background-color: #2d3549;
  border-top: 0px !important;
}
.calendar .rbc-off-range-bg{
  background-color: #202838;
}
.calendar .rbc-day-slot .rbc-time-slot {
  border-top: 0px;
}
.signIn-cards{
  display: flex;
  margin-left:0px;
}
.signIn-cards img{
  width: 100px;
  height: 100px;
  filter: invert(1);
  position: absolute !important;
  top: 210px;
  left: 90px;
  z-index: -10;
}
.signIn-cards .card{
  display: inline-block;
  position: relative;
  margin-left: 50px;
  margin-top: 0px;
  transition: 0.5s;
}
.signIn-cards .card-body{
  height: 250px !important;
  box-shadow: 5px 5px 5px var(--shadow);
  margin-top: 50px;
}
.signIn-cards .card-text{
  color: white;
  font-weight: 500;
}
.sign-in-controls{
  margin-top: 400px;
  position: relative;
  left: 0%;
}
.reset-panel{
  width: 25%;
  height: fit-content;
  position: absolute;
  top: 20%;
  left: 37.5%;
  background-color: var(--contrast);
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: 0.5s;
}
.reset-panel-body{
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20%;
  margin-bottom: 0px;
  height: fit-content;
  text-align: center;
  margin-bottom: 15%;
  animation: page-transition 0.2s ease-in;
}
.reset-panel-body input{
  width: 80%;
}
.reset-panel-body .btn{
  width: 250px;
  height: 50px;
  margin-top: 50px;
}
.reset-panel-body .timer{
  font-size: 72px;
}
.type-animation{
  font-size: 5em;
  color: white;
  font-weight: 700;
  color: var(--contrast);
  margin-left: 10px;
  margin-top: -10px;
  transition: 0.5s
}
.saved-workouts{
  width: 95%;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  scroll-snap-type: x mandatory;
  left: 1.5%;
  transition: 0.5s;
  scroll-behavior: smooth;
  cursor: grab !important;
}
.saved-workouts > div {
  flex: 0 0 auto;
  margin-left: 1.2%;
  scroll-snap-align: start;
}
.saved-workouts:active{
  cursor: grabbing !important;
  opacity: 0.5;
  transform: scaleX(1.05);
}
.saved-workouts:hover{
  cursor: pointer;
}
.saved-workouts::-webkit-scrollbar {
  display: none;
}
.saved-workouts .workout-card{
  width: calc(100%/10);
  height: 300px;

  position: relative;
  top: 20%;

  background-color: var(--bg);
  border: 1px solid var(--contrast);
  overflow: hidden;
  border-radius: 10px;

  transition: 0.5s;
}
.saved-workouts .workout-card .bottom{
  background-color: var(--contrast);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 200px 200px 0px 0px;
  transition: 0.8s;
  text-align: center;
  z-index: 10;
  animation: card-bottom-load 0.65s;
}
.saved-workouts .workout-card .saved-card-icon{
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 30%;
  color: white;
}
.saved-workouts .workout-card h1{
  font-size: 15px;
  color: white;
  padding-bottom: 60%;
  padding-top: 60px;
}
.saved-workouts .workout-card:hover:not(.selected-card){
  transform: translateY(0px);
}
.saved-workouts .workout-card:hover:not(.selected-card) .bottom{
  border-radius: 0px;
  margin-top: -110%;
  padding-bottom: 100%;
}
.saved-workouts .selected-card{
  transform: translateY(0px);
  transition: 0.5s;
}
.saved-workouts .selected-card .bottom{
  border-radius: 0px;
  margin-top: -15%;
  padding-bottom: 0%;
  animation: card-bottom 0.8s ease-out;
}
.saved-workouts .selected-card .bottom h1{
  padding-bottom: 5%;
  padding-top: 15%;
  margin-top: 10%;
}
.saved-workouts .selected-card .control-btn{
  color: white;
  width: 100%;
  height: 50px;
  margin: 25% 0px 0px 0px;
}
.saved-workouts .selected-card .saved-card-icon{
  display: none;
}
.title{
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 5%;
}
.saved-workouts.details > div{
  filter: brightness(0.5) blur(3px);
}
.saved-workouts .selected-card.card-detail{
 width: 30% !important; 
 z-index: 101;
 height: 60%;
 filter: none;
 overflow-y: auto;
}
.saved-workouts .selected-card.card-detail .exercises{
  color: white;
  display: flex;
  list-style: none;
  flex-flow: wrap;
}

.saved-workouts .selected-card.card-detail .exercises li{
  width: 45%;
}
.saved-workouts .selected-card.card-detail .sets li{
  margin-left: -10px;
  width: fit-content;
}
.saved-workouts .selected-card.card-detail .sets p{
  margin-left: 10px;
}
.saved-workouts .bottom .summary{
  color: white;
  margin-top: -30%;
}
.saved-workouts .bottom .summary li{
  list-style: none;
  width: 100%;
  text-align: center;
  margin-left: -10%;
  margin-top: -20px;
}
.browse-cards {
  position: absolute;
  right: 20%;
  top: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Adjust as needed */
  width: 800px;
  background-color: transparent;
}

.browse-card {
  flex: 0 0 calc(33.33% - 20px); /* Adjust width and margins as needed */
  margin-bottom: 20px; /* Adjust as needed */
  border: none;
  background-color: transparent;
  overflow: hidden;
  height: 100px !important;
  width: 240px !important; /* Adjust width and margins as needed */
  transition: 1s;
}
.browse-card .card-body{
  border-radius: 20px;
  height: 40px;
  transition: 0.6s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  background-color: var(--contrast);
}
.browse-card .bottom{
  width: 120%;
  margin-left: -10%;
  margin-top: -15%;
  text-align: center;
  transition: 1s;
}
.browse-card img{
  margin-left: 10%;
  width: 80%;
  margin-top: -25%;
}
.browse-card .bottom .card-title{
  margin-bottom: 40%;
  padding-top: 20%;
}

.browse-card:hover .bottom{
  border-radius: 0px;
}
.browse-card:hover{
  height: 300px !important;
}
.browse-card:hover .card-body{
  border-radius: 10px;
  background-color: var(--contrast);
}
.browse-muscle{
  transition: 0.5s;
}
.card{
  background-color: transparent !important;
  border: none !important;
}
.create-templates{
  border: 1px solid var(--contrast);
  padding-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.browse-page-header{
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 5%;
  margin-bottom: -10%;
}
@keyframes scrollHint {
  0% {
    transform: translateX(0);
  }
  90%{
    transform: translateX(0);
  }
  95% {
    transform: translateX(-5px); /* Move container slightly to the right */
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes muscle-load {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes tip-load {
  0%{
    opacity: 0;
    transform: translateY(1000px);
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes tip-left {
  0%{
    transform: translateX(1000px);
  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes tip-right {
  0%{
    transform: translateX(-1000px);
  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes exercise-card-load {
  0%{
    border-radius: 200px;
    border: 1px solid var(--contrast);
    height: 40px;
  }
  100%{
    border-radius: 0px;
  border: 1px solid var(--contrast);
  height: 80px;
  }
}
@keyframes create-workout-card-hover {
  0%{
    height: 55px;
  }
  100%{
    height: fit-content;
  }
}
@keyframes card-bottom-load {
  0%{
    border-radius: 0px;
  margin-top: -110%;
  padding-bottom: 100%;
  }
  100%{
    background-color: var(--contrast);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 200px 200px 0px 0px;
  transition: 0.65s;
  text-align: center;
  z-index: 10;
  }
}
@keyframes card-load {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
  }
}
@keyframes card-bottom {
  0%{
    padding-bottom: 300%;
  }
  100%{
   padding-bottom: -50%;
  }
}
@keyframes card-bottom-title {
  0%{
    font-size: 20px;
  color: white;
  padding-bottom: 60%;
  padding-top: 60px;
  }
  100%{
    padding-bottom: 1%;
  padding-top: 5%;
  margin-top: 1%;
  }
}
@keyframes move_up{
  0%{
    margin-top: 50px;
  }
  100%{
    margin-top: -50px;
  }
}
@keyframes timer {
  0%{
    transform: scale(1.0);
  }
  90%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.1);
  }
}
@keyframes fallingAnimation {
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes page-transition {
  0% {
    transform: scale(.90);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes grow {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes opacity-fade-in {
  0% {
    opacity: 0;
  }
  100%{
    opacity:1;
  }
}
@keyframes opacity-fade-out {
  0% {
    opacity: 1;
  }
  100%{
    opacity:0;
  }
}
@keyframes falling {
  0% {
    opacity: 0;
    transform: translateY(-200px) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) rotate(360);
  }
}