:root {
  --main: #1F1F1F;
  --contrast: #3C6FAA;
  --bg: #1F2229;
  --shadow:rgb(20, 20, 20);

  --heat-yellow: rgb(251, 176, 33);
  --heat-red: rgb(238, 62, 50);
  --heat-orange: rgb(246, 136, 56);
  --heat-blue:  var(--contrast);
}
body{
  background-color: var(--bg) !important;
  overflow: hidden;
  transition: .5s ease;
  user-select: none;
}
.anim{
  transition: .5s ease;
}
.sidebar{
  height: 700px;
  width: 245px;
  background-color: var(--contrast);
  position: fixed;
  right: -200px;
  top: 12vh;
  border-radius: 10px 0px 0px 10px;
  transition: .5s ease;
  box-shadow: -5px 5px 5px var(--shadow);
}
.card{
  border: none !important;
  background-color: transparent !important;
}
.card-body{
  background-color: var(--contrast);
  border-radius: 10px !important;
  color: white !important;
  transition: .5s ease;
}
.sidebar:hover{
  position: fixed;
  right: -50px;
}
.userbar{
  height: 50px;
  width: 245px;
  background-color: var(--contrast);
  position: fixed;
  right: -200px;
  top: 0;
  border-radius: 0px 0px 0px 10px;
  transition: .5s ease;
}
.userbar:hover{
  position: fixed;
  right: -50px;
}
.interactable{
  cursor: pointer;
}
.interactable:hover{
  transform: scale(1.025);
}
.muscles{
  margin: auto;
  width: 1028px;
  height: 1024px;
}
.muscles path:not(.rotate){
  cursor: pointer;
  fill: var(--heat-blue);
}
.timePeriod{
  width: 500px;
  height: 30px;
  background-color: var(--contrast);
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 150px;
  box-shadow: 0px 5px 5px var(--shadow);
  transition: .5s ease;
}
.navBar{
  position: fixed;
  left: 10%;
  top: 0;
  width: 80%;
  height: 50px;
  background-color: var(--contrast);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 5px 5px var(--shadow);
  transition: .5s ease;
} 
.react-calendar{
  border-radius: 10px;
  background: var(--contrast) !important;
  color: white;
  border: none !important;
  box-shadow: 5px 5px 5px var(--shadow);
  transition: .5s ease;
}
.react-calendar__month-view__days__day--weekend {
  color: #2158be !important;
}
.react-calendar__tile--now {
  background: #178daa !important;
}
.react-calendar button{
  color: white;
}
.sign-in-panel input{
  width: 300px;
  background: var(--shadow);
  border: none;
  box-shadow: 0px 5px 5px var(--shadow);
  border-radius: 5px;
  color: white;
}
.sign-in-panel{
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  transition: .5s ease;
}
.chart text{
  font-size: 10px;
  fill: white;  
}
.chart path{
  cursor: pointer;
}
.add-calorie{
  position: absolute; 
  top:50px; 
  left: -500px;
  width:300px; 
  height: 300px;
  background-color: var(--contrast); 
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
.add-calorie input{
  border: none;
  border-radius: 5px;
}
.create-workout input{
  border: none;
  border-radius: 5px;
}
.create-workout select{
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  width: 75px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 200px); /* Set each column to 200px width */
  gap: 20px; /* Adjust the gap between cards to 20px */
}

.create-workout-card {
  margin-bottom: 10px; /* Adjust the margin-bottom value to control spacing between rows */
  box-sizing: border-box;
  animation: grow 0.2s ease-in;
}

.create-workout-card:nth-child(4n) {
  margin-right: 0;
}
.create-workout::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.create-workout::-webkit-scrollbar-thumb {
  background-color: #f0f0f0; /* Set the color of the scrollbar thumb (the draggable part) */
}

.create-workout::-webkit-scrollbar-track {
  background-color: var(--bg); /* Set the color of the scrollbar track (the non-draggable part) */
}
.create-workout{
  background-color: var(--contrast);
  border-radius: 10px;
  max-width: 650px;
  position: relative;
  left: 100px !important;
  overflow: auto;
  max-height: 625px;
  box-shadow: 5px 5px 5px var(--shadow);
}
.workouts .animated-card {
  animation: grow 0.2s ease-in;
}
.anim-heartbeat{
  animation: beat 1s ease infinite;
}
.home-chart text{
  display: none;
}
@keyframes grow {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}